<div class="container">

    <h3>AWS Stands for...  </h3>

    {{question}}


    <div *ngIf ="false"> Hey </div>

<table>
    <tr *ngFor="let option of options; let i = option"  (click)="refresh(option)" >
        <!-- create a radio button-->
        <td ><input
        type="radio"
        name="radioGroup"
        value="{{option.value}}" >
    </td>
    <td class="optionValue"><i>{{option.value}}</i></td>
</table>
    <!-- <a  >{{selected.value}}</a><br> -->
    
    <button *ngIf ="!completion" type="button" (click) = "nextQuestion()" class="btn btn-success">Next</button>
    <button *ngIf ="completion" type="button" (click) = "complete()" class="btn btn-success"><a routerLink="/complete">Submit</a></button>  
    
</div>

